<footer>
    <div class="f-info">
    <div class="f-info-socials">
        <a href="https://www.facebook.com/profile.php?id=100009116247247&mibextid=ZbWKwL" target_"main"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/invites/contact/?igsh=14facpjznnkwx&utm_content=20ldvc0" target_"main"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/ali-shahroz-aa1776126?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target_"main"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; WandarLust private limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>
