<% layout("./layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
        <h3>Create a new Listing</h3>
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
                <div class="valid-feedback">Title Looks Good!</div>                                   <!-- for valid data input  -->
                <div class="invalid-feedback">please enter correct title</div>                         <!-- for invalid data input  -->
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" cols="30" rows="10" class="form-control" required></textarea>
                <div class="valid-feedback">description Looks Good!</div>                                   <!-- for valid data input  -->
                <div class="invalid-feedback">please enter correct description</div>                         <!-- for invalid data input  -->
            </div>
            <!-- <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" name="listing[image]" placeholder="enter image url/link" class="form-control" >
            </div> -->
            <div class="mb-3">
                <label for="image" class="form-label">Uploaad Listing Image</label>
                <input type="file" name="listing[image]" class="form-control" required>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input  name="listing[price]" placeholder="enter price" class="form-control" required>
                    <div class="valid-feedback">Price Looks Good!</div>                                   <!-- for valid data input  -->
                    <div class="invalid-feedback">please enter correct price</div>                         <!-- for invalid data input  -->
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="enter country" class="form-control" required>
                    <div class="valid-feedback">country Looks Good!</div>                                   <!-- for valid data input  -->
                    <div class="invalid-feedback">please enter correct country</div>                         <!-- for invalid data input  -->
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required>
                <div class="valid-feedback">location Looks Good!</div>                                   <!-- for valid data input  -->
                <div class="invalid-feedback">please enter correct location</div>                         <!-- for invalid data input  -->
            </div>
            <br>
            <button class="btn btn-dark add-btn">Add</button>
        </form>
    </div>
    </div>